logo: logo.png
name: Powermonics
description: Thoughts on Power, Money, and Technology
markdown: kramdown
paginate: 10
paginate_path: /page:num/

include:
  - _pages



plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate